In [1]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

4.0

In [2]:
#2.Find the error in the following Python code:
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(10)

#passing parameter as it is a parametrized func

15

In [4]:
#3.x = 5
if x == 10:
    print("x is 10")
    
    #assignment operation is = we need to give ==

x is 10

In [8]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())
print(numbers)


#print numbers is needed

None
[2, 3, 5, 8]

In [11]:
#5.
def square(n):
    return n * n

print(square(4))


#retun is missing

16

In [12]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5
# tuple is  not modified

TypeError: 'tuple' object does not support item assignment

In [17]:
#7.
name = "Alice"
age = 25
#print("My name is %s and I am %d years old" % (name))

#corrected
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

In [20]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:  #operator
    print("Lists are equal")

Lists are equal

In [22]:
#9.
for i in range(1,5):  #Range should be 1 to 5
    print(i)

1
2
3
4

In [27]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])#correted

John